@import "tailwindcss";

:root {
  --background: #EAEAEA;
  --foreground: #000000;
  --background-secondary: #ffffff;
  --hover: #EAEAEA;
  --border: #f3f4f6;
  --border-secondary: #000000;
  --background-upload: #E1E5FD;
  --background-upload-hover: #D0D3DD;
  --out-border: #000000;
  --button: #1E1F35;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --background-secondary: #1a1a1a;
  --hover: #2a2a2a;
  --border: #1f2937;
  --border-secondary: #ffffff;
  --background-upload: #191C26;
  --background-upload-hover: #2a2a2a;
  --out-border: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --color-hover: var(--hover);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-background-upload: var(--background-upload);
  --color-background-upload-hover: var(--background-upload-hover);
  --color-out-border: var(--out-border);
  --color-button:var(--button)
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

/* para fondo en movimiento del login y el registro*/
@keyframes moveGradient {
    0%, 100% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
}

.animate-custom-gradient {
    animation: moveGradient 10s ease infinite;
}