@import "tailwindcss";

:root {
  --background: #EAEAEA;
  --foreground: #000000;
  --background-secondary: #ffffff;
  --hover: #EAEAEA;
  --border: #f3f4f6;
  --border-secondary: #000000;
  --background-upload: #E1E5FD;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --background-secondary: #1a1a1a;
  --hover: #2a2a2a;
  --border: #1f2937;
  --border-secondary: #ffffff;
  --background-upload: #E1E5FD;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --color-hover: var(--hover);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-background-upload: var(--background-upload);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  transition: background-color 0.2s, color 0.2s;
}